[submodule "asoft-module"]
	path = asoft-module
	url = https://andylamax@bitbucket.org/asofttz/asoft-module.git
[submodule "asoft-framework"]
	path = asoft-framework
	url = https://andylamax@bitbucket.org/asofttz/asoft-framework.git
[submodule "asoft-auth"]
	path = asoft-auth
	url = https://github.com/andylamax/asoft-auth.git
[submodule "asoft-logging"]
	path = asoft-logging
	url = https://github.com/andylamax/asoft-logging.git
[submodule "asoft-ui"]
	path = asoft-ui
	url = https://github.com/andylamax/asoft-ui
